<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediappfull">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/medicine"
        android:label="@string/app_name"
        android:roundIcon="@drawable/medicine"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediAppFull">
        <activity
            android:name=".NotAtendedActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".FollowMedActivity"
            android:exported="false" />
        <activity
            android:name=".ShowMedicamentActivity"
            android:exported="false" />
        <activity
            android:name=".ShowAlarmsActivity"
            android:exported="false" />
        <activity
            android:name=".ShowAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".MedicamentListMainActivity"
            android:exported="false" />
        <activity
            android:name=".ShowRecipeMedicamentActivity"
            android:exported="false" />
        <activity
            android:name=".Contact2AlertActivity"
            android:exported="false" />
        <activity
            android:name=".AddRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".ShowRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeActivity"
            android:exported="false" />
        <activity
            android:name=".EditContactActivity"
            android:exported="false" />
        <activity
            android:name=".ShowContactActivity"
            android:exported="false" />
        <activity
            android:name=".AddContactActivity"
            android:exported="false" />
        <activity
            android:name=".ContactsActivity"
            android:exported="false" />
        <activity
            android:name=".DataUserActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Alarm" />
    </application>

</manifest>